<div class="right_col" role="main">
  <div class="row tile_count">
    <%= render 'member_dashboard/shared/notices' %>
    Aqui deve ficar o ranking global e a lista de notícias e um calendário.
    <%= render 'member_dashboard/shared/ranking' %>
</div>
</div>
