<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title">
                <%= image_tag 'gticon', class:'icon'%>
                <!-- <i class="fa fa-paw" src="gti-logo"></i> -->
                <span>GTi Engenharia</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <%= image_tag 'simao', class:'img-circle profile_img'%>
                <!-- <img src="gti-logo.jpg" alt="..." class="img-circle profile_img"> -->
            </div>
            <div class="profile_info">
                <span>Bem Vindo(a),</span>
                <!-- <h2><%=@member.email%></h2> -->
                <h2>Lucas Simão</h2>

            </div>

        </div>
        <!-- /menu profile quick info -->

        <br>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Diretor de Projetos</h3>
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-home"></i>
                            Home
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <!-- <ul class="nav child_menu">
                            <li>
                                <a href="index.html">Membros</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i>
                            Projetos
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="form.html">Meus Projetos</a>
                            </li>
                            <li>
                                <a href="form_advanced.html">Projetos da Empresa</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-desktop"></i>
                            Membros
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="general_elements.html">Diretores</a>
                            </li>
                            <li>
                                <a href="media_gallery.html">Desenvolvedores</a>
                            </li>
                            <li>
                                <a href="typography.html">Trainees</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
