// Colours
$primary-color: #429CD0;
$secondary-color: #B920FF;
$background-color: #F7F7F7;
$login-background: "background-light.png";
$button-color: #FFFFFF;
$text-color: #B920FF;
$button-text-color: #B920FF;
$button-color-hover: #AAAAAA;
$button-text-color-hover: #A810DD;
$lines-color: #B920FF;
// Screen sizes
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
